<div class="mw-popup" style="display: none">
    <div class="mw-popup-inner">
        <a class="closeBtn"><i class="iconfont" style="font-size: 14px">&#xe659;</i></a>
        <h4>心情物语</h4>

        <div class="moon-content" style="outline: none" contenteditable="true"></div>
        <div class="moon-toolbar">
            <a class="addPhoto"><i class="iconfont">&#xe780;</i></a>
            <!-- 隐藏的文件上传的input表单 -->
            <form action="/upload/imageList" id="uploadMultiFiles" method="post" enctype="multipart/form-data">
                <input type="file" name="file" class="uploadFiles mw-hidden">
            </form>
            <iframe name="hidden_frame" id="hidden_frame" class="hidden_frame"></iframe>
            <a class="addLocaltion"><i class="iconfont">&#xe768;</i></a>
            <a class="addMusic"><i class="iconfont" style="font-size: 25px">&#xe624;</i></a>

            <a class="sendContBtn"><i class="iconfont">&#xe6b0;</i>发送</a>
            <span class="limitNumber">135</span>

            <div style="clear: both"></div>
        </div>
        <div class="add-content">
            <!--<ul>-->
            <!--<li><img src="../asset/img/commons/user_image.jpg" style="height: 80px;width: auto"></li>-->
            <!--<li><img src="../asset/content/bg02.jpg" style="height: 80px;width: auto"></li>-->
            <!--</ul>-->
            <em></em>

            <div class="added-img-list">
                <%--<span class="img-panel-item" style="position: relative">--%>
                        <%--<span class="img-hover-bg">--%>
                            <%--<i class="iconfont">&#xe659;</i>--%>
                        <%--</span>--%>
                        <%--<img src="/asset/img/commons/user_image.jpg"/>--%>
                    <%--</span>--%>
                    <span class="addImageBtn">
                      <i class="iconfont">&#xe6ea;</i>
                    </span>
            </div>


        </div>
    </div>
</div>