
#category-nav {
    position: absolute;
    left: 0;
    background: #1c94e0;
    width: 100%;
}

#category-nav #category-nav-inner {
    width: 980px;
    margin: 0 auto;
}

#category-nav-inner ul {
    font-size: 14px;
}

#category-nav-inner ul li a:link {
    color: #fff;
    text-decoration: none;
}
.category-panel span a:link{
    color: #666!important;
    text-decoration: none;
}

.category-panel span a:visited{
    color: #666!important;
    text-decoration: none;
}

#category-nav-inner ul li a:visited {
    color: #fff;
    text-decoration: none;
}

.all-category {
    position: relative;
    width: 110px;
    text-align: center;
    box-sizing: border-box;
}

.all-category-inner {
    float: none;
    display: none;
    position: absolute;
    background: #1b95e0;
    /*display: inline-block;*/
    width: 110px;
    left: 0;
    top: 36px;
    z-index: 20000;
}

.all-category ul {
    position: relative;
}

.all-category ul li {
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    border-left: 0.2em solid #1b95e0;
}

.all-category ul li:last-child {
    border-bottom: 0.1em solid #1b95e0;
}

.all-category ul li:hover {
    background: #fff;
    color: #888 !important;
    cursor: pointer;
    /*border-left: 2px solid #1b95e0;*/
    box-sizing: border-box;
}

.category-panel {
    display: none;
    position: absolute;
    margin-left: 110px;
    top: 0;
    background: #fff;
    width: 865px;
    height: 288px;
    z-index: 1000;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: left;
    padding-left: 1.5em;
    padding-top: 1em;
    color: #888;
    box-sizing: border-box;
}

.category-panel span {
    padding: 0 0.5em;
}

.category-panel span a:hover {
    color: #1b95e0;
    text-decoration: underline;
}

#category-nav ul li {
    float: left;
    height: 36px;
    color: #fff;
    line-height: 36px;
    padding: 0 1em;
    font-size: 16px;
}

/*#category-nav > ul > li:hover {*/
    /*background:#087ac3;*/

/*}*/

#category-nav ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}