.footer-inner {
    margin-top: 10px;
    padding: 0 1em;
    border-top: 1px solid #dddddd;
    padding-top: 3em!important;
    margin-bottom:5em;
}

.col-sm-2 {
    width:15%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}