.footer-inner {
    margin-top: 10px;
    padding-top: 3em !important;
    margin-bottom: 2em;
}

/*.footer-inner {*/
    /*margin-top: 10px;*/
    /*padding: 0 1em;*/
    /*border-top: 1px solid #dddddd;*/
    /*padding-top: 3em !important;*/
    /*margin-bottom: 5em;*/
/*}*/

.col-sm-2 {
    width: 15%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.copyright {
    text-align: center;
}

.footer-bottom {
    background: #eee;
    padding: 1em;
}

.youlian_info {
    margin-right: 2em;
}

.youlian_container {
    text-align: left;
    padding: 2em 0;
    background: #eeeeee45;
}

.youlian_container p {
    width: 1080px;
    margin: 0 auto;
}

.youlian, .zhanzhangtongji a, .website {
    color: #333;text-decoration: none;
}