* {  margin: 0;  padding: 0  }
ul li {  list-style: none;  }
body {
    font: normal 12px/24px Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, WenQuanYi Micro Hei, Microsoft Yahei, sans-serif;
    font-size: 14px!important;
}
.search {
    float: right;
    padding-right: 1em;
}
.search-inner h4, .search-input, .search-btn {
    display: inline-block;
    width: 230px;
}

.search-btn {
    left: -1px;
    width: 37px;
    height: 32px;
    zoom: 1;
    overflow: hidden;
    vertical-align: middle;
}
.search-input input[type=text]{
    background: #fff;
    width: 103%;
    margin: 0;
    text-align: left;
    height: 31px;
    padding-left: 10px;
    height: 28px\9;
    line-height: 28px\9;
    border: 1px solid #cccccc;
    outline: none;
}

.search-btn input[type=submit] {
    background: url(/asset/content/nav_bg.png) no-repeat 0 -42px;
    width: 100%;
    height: 100%;
    font-size: 0;
    padding: 39px 0 0 0;
    overflow: hidden;
    color: transparent;
    cursor: pointer;
    border: none;
}

.clearfix:after {  overflow: hidden;  visibility: hidden;  display: block;  font-size: 0;  content: " ";  clear: both;  height: 0;  }
#header {
    position: fixed;
    width: 100%;
    height: 28px;
    z-index: 10002;
    left: 0;
    right: 0;
}
#header #header-inner {  background: #48525e;  height:inherit;  line-height: 28px;  font-size: 13px;  }
#header #header-inner .nav-menu {  float: left;  margin-left: 1em;  }
#header #header-inner .nav-menu ul li {  float: left;  margin-right: 1em;  }
#header #header-inner .nav-menu ul li a {  text-decoration: none;  color: #ccc;  }
#header #header-inner .user-info {  float: right;  }
#header #header-inner .user-info ul li {  float: left;  margin-right: 1em;  }
#header #header-inner .user-info ul li a{  text-decoration: none;  color: #ccc;  }
#middle-content {  height: 60px;  background: lightblue; }
#middle-content #middle-inner {  height:inherit;  width: 1200px;  margin:0 auto;  line-height: 60px;  }
#middle-content #middle-inner .category-module-intro {  float: left;  }
#middle-content #middle-inner .search-inner {  float: right;  }
#main-content {
    background: whitesmoke;
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(128, 111, 103, 0.26);
}
#main-content #main-content-inner {
    width: 1200px;
    margin:0 auto;
}
#main-content #main-content-inner #left-body {
    float: left;
    width: 880px;
    background: #fff;
}
#left-body #left-body-inner {
    padding:25px 30px 36px;
}
#main-content #main-content-inner #right-body {
    width: 300px;
    padding-left: 20px;
    float: right;
    background: whitesmoke;
}
.jingcai-article ul li {
    width: 263px;
    margin-right: 14px;
    float: left;
}
.jingcai-article ul li img {
    width: 263px;
    height: 150px;
}
.jingcai-article ul li:nth-child(3){
    margin-right: 0!important;
}
.jingcai-article ul li h3 {
    margin-top: 10px;
}
.jingcai-article ul li h3 a {
    text-decoration: none;
    color: #333;
    font-weight: 400;
}
.tabClick{ overflow: hidden}
.tabClick li{
    height: 40px;
    line-height: 40px;
    width: 140px;
    float: left;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0;
    color: #888;
}
.tabClick li:hover {cursor: pointer}
.tabClick li.active{ color: #099; transition: 0.1s;}
.tabCon{ overflow: hidden}
.tabBox{ position: relative}
.lineBorder{ height: 2px; overflow: hidden; border-bottom:1px solid #099; background: #f3f3f3}
.lineDiv{ background: #099; height: 2px; width:140px;}
.tabCon {display: block!important;}
.tabBox > div {display: none}
.tabBox > div:first-child {display: block}


.main-article-list {  margin-top: 30px;}
.tabBox ul li {
    margin: 18px 0 0;
    padding: 12px 10px;
}
.tabBox ul li:hover {
    background: #f9fafc;
}
.topic-img {
    float: left;
    margin-right: 1em;
}
.topic-img img {
    width: 50px;
    height:50px;
    border-radius: 50%;
}
.topic-info h3 a{
    font-weight: 400;
    text-decoration: none;
    font-size: 18px;
    color: #333;
}
.topic-info {
    margin-left: 70px;
}
.topic-info p {
    color: #6a6a6a;
    font-weight: 200;
    padding: 0.5em 0;
}
.topic-info .detail {
    color: #6a6a6a;
    font-weight: 200;
    font-size: 12px;
}
.topic-info .detail span {
    margin-right: 0.5em;
}

#footer {
    padding-top: 3em;
    background: whitesmoke;
}
#footer p {
    padding-top: 0.5em;
    text-align: center;
}
#footer p a {
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid whitesmoke;
}
#footer p a:last-child {
    border-right: 0;
}

.all-category {
    padding: 1em 0;
}
.all-category ul li {
    height: 44px;
    line-height: 44px;
    padding: 0 1em;
}
.all-category ul li.active {
    background: #fff;
}
.all-category ul li:hover {
    background: #fff;
}
.all-category ul li a {
    font-size: 16px;
    text-decoration: none;
    color: #333;
}
.ad-info {
    padding: 1em;
}
.jingcai-article h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 8px;
    color: #333;
}

#middle-content {
    position: relative;
    height: 80px;
    padding-top: 28px;
    background: rgba(211, 241, 251, 0.15);
}

#middle-content #middle-inner {
    position: relative;
}

.profile-canopy-headerBg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden
}

.fixed-position {
    top: 20px;
    position: fixed;
    left: 0;
    margin-left: 920px;
}

.profile-canopy-headerBg img.profile-bg-img {
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0.35;
    top: -9999px;
    bottom: -9999px;
    margin: auto 0;
    width: 100%;
}

#middle-inner .category-module-intro {
    position: absolute;
    left: 0;
    font-size: 20px;
}

#middle-inner .search {
    position: absolute;
    right: 0;
    z-index: 1001;
}