* {
    margin: 0;
    padding: 0
}

ul li {
    list-style: none;
}

body {
    font: normal 12px/24px Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, WenQuanYi Micro Hei, Microsoft Yahei, sans-serif;
    font-size: 14px;
}


.clearfix:after {
    overflow: hidden;
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#container {
    /*width: 1140px;*/
    height: 100%;
    margin: 0 auto;
}

 #header{
     height: 28px;
     background: rgb(23, 132, 199);
 }

.header-nav-inner ul li {
    float: left;
    margin-left: 2em;
    font-size: 12px;
    color: #f9f9f9;
    line-height: 28px;
}
.header-user ul li {
    float: right;
    margin-right: 2em;
    font-size:12px;
    color: #f9f9f9;
    line-height: 28px;
}
.header-user ul li a:link {
    color: #f9f9f9;
    text-decoration: none;
}
.header-user ul li a:visited {
    color: #f9f9f9;
    text-decoration: none;
}
#header-middle {
    width: 100%;
    overflow: hidden;
    zoom: 1;
}
#header-middle-inner {
    margin: 0 auto;
    overflow: visible !important;
    position: relative;
    padding: 10px 0 5px;
    zoom: 1;
}
.search h3 {
    float: left;
    padding-top: 0.5em;
    padding-bottom: 1em;
    font-size: 22px;
    color: #1b95e0;
    font-weight: 500;
}
.search-input {
    width: 470px;
    height: 34px;
    padding-top: 0.5em;
    text-align: center;
    float: left;
    margin-right: -3px;
    cursor: text;
    margin-left: 2em;
    background: url(/asset/content/nav_bg.png) no-repeat 0 7px;
}
.search-input input[type=text]{
    border:none;
    background: #fff;
    width: 96%;
    margin: 0;
    text-align: left;
    height: 30px;
    height: 28px\9;
    line-height: 28px\9;
    outline: none;
}
.search {
    border-bottom:1px solid #e5ebe4;
}
.search-inner {
    width: 950px;
    margin:0 auto;
}
.clearfix:after {
    overflow: hidden;
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
#header-middle{
    background-color:#f0f3f5;
}
.hot-course-command {
    width: 950px;
    margin:0 auto;
}
.hot-course-command ul li {
    float: left;
    margin-right: 2em;
    height: 39px;
    line-height:39px;
}
.hot-course-command ul li a:link {
    color:#37a;
    font-size: 13px;
    text-decoration: none;
}
.search-btn {
    position: relative;
    left: -1px;
    width: 37px;
    height: 34px;
    zoom: 1;
    overflow: hidden;
    padding-top:0.5em;
}
.search-btn input[type=submit] {
    background: url(/asset/content/nav_bg.png) no-repeat 0 -40px;
    width: 100%;
    height: 100%;
    font-size: 0;
    padding: 35px 0 0 0;
    overflow: hidden;
    color: transparent;
    cursor: pointer;
    border: none;
}
#main-content {
    padding-top: 2em;
}
#main-content-inner {
    width: 950px;
    margin: 0 auto;
}
.u-size3of4 {width: 600px!important;}
.current-location {
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 0.5em;
}
.current-location a {
    text-decoration: none;
    color:#333;
}
.current-location span:first-child {
    color: #333;
}
.current-location span:first-child i {
    margin-right: 0.5em;
    font-weight: 600;
    color: #6b6a6a;
}
.course-name {
    font-size: 18px;
    padding-bottom: 1em;
    font-weight: bold;
    color: #333;
}
.course-name span {
    margin-left: 0.25em;
    font-size: 12px;
    font-weight: 500;
}
.course-description {
    padding-bottom: 1em;
}
.course-main-body ul li a {
    line-height: 2em;
}
.allStart {
    width: 60px;
    height: 10px;
    display: inline-block;
    zoom: 1;
}
.allStart50 {
    background: url(/asset/content/ic_rating_s.png) no-repeat 0px -1px;
}
.allStart45 {
    background: url(/asset/content/ic_rating_s.png) no-repeat 0px -11px;
}
.allStart40 {
    background: url(/asset/content/ic_rating_s.png) no-repeat 0px -23px;
}
.allStart35 {
    background: url(/asset/content/ic_rating_s.png) no-repeat 0px -33px;
}
.allStart30 {
    background: url(/asset/content/ic_rating_s.png) no-repeat 0px -44px;
}
.allStart25 {
    background: url(/asset/content/ic_rating_s.png) no-repeat 0px -55px;
}
.allStart20 {
    background: url(/asset/content/ic_rating_s.png) no-repeat 0px -66px;
}
.allStart15 {
    background: url(/asset/content/ic_rating_s.png) no-repeat 0px -77px;
}
.allStart10 {
    background: url(/asset/content/ic_rating_s.png) no-repeat 0px -88px;
}
.allStart5 {
    background: url(/asset/content/ic_rating_s.png) no-repeat 0px -99px;
}
.course-main-body {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #eeeeee;
}
.about-article {
    padding: 0.5em;
    border: 1px solid #ccc;
    margin-top: 0.5em;
    border-radius: 2px;
}
.about-article ul {
    display: inline-block;
    width: 48%;
}
.about-article-title {
    margin-bottom: 0.25em;
    border-bottom: 1px solid #ccc;
}
.about-article-title h3 {
    color:#333;
    display: inline-block;
    padding-bottom: 0.5em;
    border-bottom: 2px solid #1784c7;
    margin-bottom: -1px;
    font-weight: 500;
}
.sc-btn {
    float: right;
    color: #fff;
    background: rgba(0, 119, 34, 0.69);
    /*rgba(255, 172, 45, 0.87)*/
    font-size: 12px;
    border-radius: 3px;
    padding: 0px 7px;
}
.about-article ul li {

}
.about-article ul li a {
    text-decoration: none;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inherit;
    padding:2px 0;
}
.about-article ul li a em {
    display: inline-block;
    margin-right: 10px;
    color: #333;
}
.u-size1of4 {
    width: auto!important;
}

.main-right-inner {
    padding-left: 1.5em;
}
.jili {
    background: #f2f7f6;
    color: #3377aa;
    border-radius: 4px;
    margin-bottom: 1em;
}
.jili p {
    padding: 12px 0 12px 18px;
}
.about-course-title {
    border-bottom: 1px solid #e5ebe4;
}
.about-course-title h3 {
    display: inline-block;
    padding-bottom: 0.5em;
    border-bottom: 2px solid #1784c7;
    margin-bottom: -1px;
    color: #333;
    font-weight: 500;
}
.about-course {
    padding: 1em;
    box-sizing: border-box;
    border: 1px solid #e5ebe4;
    border-radius: 4px;
    margin-bottom: 1em;
}
.about-course ul li a {
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #e5ebe4;
    color: #333;
}
.about-course ul li a em {
    margin-right: 1em;
}
.catalog-list {
    padding: 1em;
    /*background: rgba(242, 247, 246, 0.54);*/
}
