* {
    margin: 0;
    padding: 0
}

ul li {
    list-style: none;
}

body {
    font: normal 12px/24px Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, WenQuanYi Micro Hei, Microsoft Yahei, sans-serif;
    font-size: 14px;
    background-color: #f6f6f6;
}

.clearfix:after {
    overflow: hidden;
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#container {
    width: 1140px;
    height: 100%;
    margin: 0 auto;
}

#main-content {
    padding-top: 36px;
}

#main-content-inner {
    padding-top: 36px;
}

/*全部分类*/
.all-course-category {
    margin: 1em 2em 1em 1em;
    box-sizing: border-box;
}

.all-course-category ul {
    border: 1px solid rgba(204, 204, 204, 0.35);
    border-radius: 10px;
    background-color: #fff;
}

.all-course-category ul li a {
    color: #999;
    display: block;
    padding: 12px 20px;
    text-align: center;
    border-bottom: 1px solid #eee;
    transition: background-color 2s;
    -o-transition: background-color 2s;
    -moz-transition: background-color 2s;
    -webkit-transition: background-color 2s;
}

.all-course-category ul li:first-child {
    color: #fff;
    display: block;
    padding: 12px 20px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #eee;
    background-color: rgba(27, 149, 224, 0.72);
}

.all-course-category ul li:last-child a {
    border-bottom: none;
}

.all-course-category ul li a:link {
    color: #999;
    text-decoration: none;
}

.all-course-category ul li a:hover {
    color: #999;
    cursor: pointer;
    background-colro: #f9f9f9;
}

.all-course-category ul li a:visited {
    text-decoration: none;
}

/*教程分类详情*/
.list {
    margin: 1em 0 1em 0;
}

.list .list-item {
    padding: 1em;
    margin-bottom: 2em;
    background-color: #fff;
}

.list .list-item h4 {
    color: #555;
    font-size: 15px;
    margin-bottom: 1em;
    border-bottom: 1px solid rgba(216, 216, 216, 0.79);
    padding-bottom: 1em;
}

.list-item-content ul li {
    width: 22.5%;
    height: 129px;
    padding: 0.25em;
    overflow-y: hidden;
    margin-right: 1.75%;
    margin-bottom: 1em;
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #f6f6f6;
    background-color: #f6f6f6;
}

.list-item-content ul li:first-child {
    margin-left: 1.2%;
}

.list-item-content ul li .course-name a {
    font-weight: bold;
    color: #555555;
}

.list-item-content ul li .course-description {
    font-size: 12px;
}