body {
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif
}
.header-inner {
    padding: 1em 1em 1em 2em;
    position: relative;
}
#tool-bar {
    position: absolute;
    z-index: 1;
}
#tool-bar ul li {
    float: left;
    margin-right: 1.5em;
}
#tool-bar ul li a{
    /*color: #d2d2d2;*/
    color: #bdbcbc;
    font-weight: bolder;
}
.clearfix:after {
    overflow: hidden;
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.page-wrapper {

}
.page-inner {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0 40px 0;
}
.page-inner h1.article-title {
    padding-bottom: .3em;
    margin-bottom: 16px;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
    color:#333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.article-content p{
    margin-bottom: 8px;
}
.article-content h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 12px 0;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
    padding-top: 12px;
}
.catalog .active {
    color:#1a97fe
}
.catalog a:hover {
    color:#008cff
}
.catalog .driver {
    height: 1px;
    margin: 7px 0;
    overflow: hidden;
    background: rgba(0,0,0,0.07);
}
.catalog ul li a{
    display: block;
    padding: 10px 15px;
    border-bottom: 0;
    color: #fff;
    background: transparent;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    font-size: 14px;
    font-weight: 300;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.slider-bar-inner {
    width: 300px;
}
/**控制翻页按钮*/
.turn-right-btn {
    position: fixed;
    right: 1em;
    color: #ccc;
    top: 48%;
    z-index: 10002;
}
.turn-right-btn i, .turn-left-btn i {
    font-size: 29px;

}
.turn-left-btn {
    position: fixed;
    left: 1em;
    color: #ccc;
    top: 48%;
    z-index: 10002;
}
.turn-right-btn:hover, .turn-left-btn:hover {
    cursor: pointer;
    color: #333;
}
.course-topic-title {
    margin: 0;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    padding: 0;
    vertical-align: top;
    color: #7e888b;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    transition: opacity ease .4s;
    opacity: 0.8;
}
